.camel-net-container {
    #cy {
        width: calc(100vw - 0px);
        height: calc(100vh - 38px);
        display: block;
        background-color: #f4f4f4;
    }

    .toolbar {
        display: flex;
        height: 28px;
        margin: 5px 0 5px 15px;
        color: white;
    }

    h2 {
        margin: 0 10px 0 0;
        white-space: nowrap;
    }

    button {
        margin: 0 5px 0 5px;
    }

    @media (min-width: 600px) {
        input#routeName {
            width: 300px;
        }
    }

    @media (max-width: 600px) {
        input#routeName {
            width: 100%;
        }
    }

    @media (max-width: 500px) {
        select {
            display: none;
        }
    }

    @media (max-width: 800px) {
        .checkboxContainer {
            display: none;
        }
    }

    #logo {
        position: absolute;
        z-index: 4000;
        margin: 40px 0 0 -5px;
        width: 144px;
        height: 144px;
    }

    form {
        display: flex;
        width: 100%;
    }

    select {
        margin: 0 5px 0 0;
    }

    .checkboxContainer {
        text-align: right;
        min-width: 130px;
        padding: 4px;
    }
}
