body {
    margin: 0;
    padding: 0;
    background-color: black;
}

mark.orange {
    color: #ffb86c;
    background: none;
}

mark.cyan {
    color: #1aedce;
    background: none;
}

mark.white {
    color: #f2f2f2;
    background: none;
}

mark.pink {
    color: #fd74b4;
    background: none;
}
